<include src="mint-section-header.html"/>

<include src="mint-section-title.html" title="Brand"/>

<div class="row">
    <div class="col-sm-12 text-center mt-5 mb-4">
        <h2>Logo</h2>
        <p>Discover how to use our logo here.</p>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon"><img src="img/linuxmint-logo-filled-leaf-badge.svg" /></div>
            <h3 class="feature-box-title">Leaf Badge</h3>
            <p class="feature-box-desc">Linux Mint Logo on Leaf badge background. For use when...<a href="img/linuxmint-logo-filled-leaf-badge.svg">Download</a></p>
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon"><img src="img/linuxmint-logo-filled-badge.svg" /></div>
            <h3 class="feature-box-title">Primary Logo</h3>
            <p class="feature-box-desc">Linux Mint Logo with filled ring. For use on white backgrounds <a href="img/linuxmint-logo-filled-badge.svg">Download</a></p>
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon"><img src="img/linuxmint-logo-ring-symbolic.svg" /></div>
            <h3 class="feature-box-title">Monchrome</h3>
            <p class="feature-box-desc">Linux Mint Logo without ring. For use on dark background... <a href="img/linuxmint-logo-ring-symbolic.svg">Download</a></p>
        </div>
    </div>
    <div class="col-lg-12 mt-4 mb-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon bg-mint-primary"><img src="img/logo-mono.svg" class="m-1" /></div>
            <h3 class="feature-box-title">Text Logo</h3>
            <p class="feature-box-desc">Linux Mint Logo with text. For use on coloured background in specific situation. <a href="img/logo-mono.svg">Download</a></p>
        </div>
    </div>
</div>





<div class="divider mt-5 mb-0"></div>
<div class="row">
    <div class="col-sm-12 text-center mt-5 mb-4">
        <h2>Colours</h2>
        <p>The distinctive mint colours</p>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon"><div class="mint-circle-size bg-mint-light rounded-circle"></div></div>
            <h3 class="feature-box-title">Mint Light</h3>
            <p class="feature-box-desc">Used for backgrounds or Text <a href="https://colorpeek.com/#86be43,ffffff,000000">#ffffff</a></p>
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon"><div class="mint-circle-size bg-mint-primary rounded-circle"></div></div>
            <h3 class="feature-box-title">Primary Mint</h3>
            <p class="feature-box-desc">Primary Colour for use as a highlight.<a href="https://colorpeek.com/#86be43,ffffff,000000">#86be43</a></p>
        </div>
    </div>
    <div class="col-lg-4 mt-4">
        <div class="feature-box f-style-3 h-100 icon-grad">
            <div class="feature-box-icon"><div class="mint-circle-size bg-mint-dark rounded-circle"></div></div>
            <h3 class="feature-box-title">Mint Dark</h3>
            <p class="feature-box-desc">Used for backgrounds or Text <a href="https://colorpeek.com/#86be43,ffffff,000000">#000000</a></p>
        </div>
    </div>
</div>
<div class="divider mt-5 mb-0"></div>
<include src="mint-section-footer.html"/>