@media (max-width: 2105px) {
  .nav-item:nth-last-of-type(1) {
    position: unset;
  }

  .navbar-nav {
    position: relative;
  }

  .nav-item:nth-last-of-type(-n + 2) > .dropdown-menu {
    right: 0px;
    left: unset;
  }
}

.mint-circle-size {
  width: 100px;
  height: 100px;

}

.bg-mint-primary {
  background-color: #86be43;
}

.bg-mint-dark {
  background-color: #000000;
}

.bg-mint-light {
  background-color: #ffffff;
}
